<h1>Body Calculator</h1>

<p>Gender: <%= current_user.gender %></p>

<%= form_with model: @calculator, url: calculator_calculate_path, local: true do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :weight, "Weight (kg)" %><br>
    <%= f.number_field :weight, step: 0.1 %>
  </div>

  <div>
    <%= f.label :height, "Height (cm)" %><br>
    <%= f.number_field :height, step: 0.1 %>
  </div>

  <div>
    <%= f.label :waist_line, "Waist Line (cm)" %><br>
    <%= f.number_field :waist_line, step: 0.1 %>
  </div>

  <div>
    <%= f.label :neck_line, "Neck Line (cm)" %><br>
    <%= f.number_field :neck_line, step: 0.1 %>
  </div>
  
  <div>
    <% if current_user.gender == "Female" %>
    <%= f.label :hip, "Hips (cm)" %><br>
    <%= f.number_field :hip %>
  <% end %>
  </div><br>

  <div>
    <%= f.submit "Calculate" %>
  </div>
<% end %>

<% if @calculator.bmi %>
  <p><strong>BMI:</strong> <%= @calculator.bmi %></p>
<% end %>

<% if @calculator.body_fat %>
  <p><strong>Body Fat Percentage:</strong> <%= @calculator.body_fat %>%</p>
<% end %>

<% if flash[:notice] %>
  <p style="color: green"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>
