<%= form_with model: @workout, local: true do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <% @workout.errors.full_messages_for(:name).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <%= f.submit "Save Workout" %>
<% end %>
