<section id="workout-index" class="workout-container">
  <div id="workout-calendar">
    <div class="calendar-container">
      <label for="workout-date">Select a date:</label>
        <div>
        <input
          type="text"
          id="workout-date"
          placeholder="Pick a date"
          data-selected-date="<%= params[:performed_on] %>"
          data-url-param="performed_on"
          style="display: none;"
          />
        </div>
    </div>
  </div>

  <div class="workout-section">
    <% if @selected_date %>
      <h4 class="workout-date-title"><%= @selected_date.strftime("%B %d, %Y") %></h4>

      <% if @workout %>
        <div>
          <h4><%= link_to "#{@workout.name.upcase}", workout_path(@workout), class: "workout-title" %></h4>
          
          <div class="content-container">
            <% if @workout.exercises.any? %>
              <% @workout.exercises.each do |exercise| %>
                <div class="exercise-container">
                  <div class="up-down-container">
                    <%= link_to move_up_workout_exercise_path(workout_id: @workout, id: exercise), data: { turbo_method: :patch }, class: "btn btn-sm black-50" do %>
                      <i class="fa-regular fa-square-caret-up"></i>
                    <% end unless exercise == @workout.exercises.first %>

                    <%= link_to move_down_workout_exercise_path(workout_id: @workout, id: exercise), data: { turbo_method: :patch }, class: "btn btn-sm black-50" do %>
                      <i class="fa-regular fa-square-caret-down"></i>
                    <% end unless exercise == @workout.exercises.last %>
                  </div>

                  <div>
                    <div class="exercise-name-container">
                      <h5><%= exercise.exercise_type.name %></h5>

                      <%= link_to workout_exercise_path(workout_id: @workout, id: exercise), data: { turbo_method: :delete }, class: "btn btn-sm color-red" do %>
                        <i class="fa-solid fa-xmark"></i>
                      <% end %>
                    </div>

                    <div>
                      <% if exercise.exercise_sets.any? %>
                        <ul class="workout-set-container">
                          <% exercise.exercise_sets.each do |set| %>
                            <li>Set <%= set.position %>:</li>
                            <li class="justify-end"><%= set.display_value %></li>
                            <li class="justify-end">
                              <% if set.weight.present? %> 
                                <%= set.weight %> kg 
                              <% else %>
                                0.0 kg
                              <% end %>
                            </li>
                            <li class="justify-center">
                              <% if set.completed %>
                                <i class="fa-regular fa-circle-check text-success"></i>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      <% else %>
                        <p><em>No sets recorded yet.</em></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <br />
              <em>Workout log empty</em>
            <% end %>
          </div>
        </div>

        <div data-controller="modal">
          <button type="button"
                  class="btn btn-primary"
                  data-action="click->modal#open">
            Add Exercise
          </button>

          <div data-modal-target="modal" class="modal hidden">
            <div class="modal-content">
              <div class="modal-title">
                <h2>Add Exercise to <%= @workout.name %></h2>
                <button type="button" class="close-button" data-action="click->modal#close">✖</button>
              </div>

              <%= render "exercises/new", workout: @workout, exercise: @exercise %>

            </div>
          </div>
        </div>
      <% else %>
        <h5><em>No workout on this day.</em></h5>
        <%= form_with url: workouts_path, method: :post, scope: :workout, local: true do |f| %>
          <%= f.hidden_field :performed_on, value: @selected_date %>
          <div>
            <%= f.label :name, "Workout Name" %>
            <%= f.text_field :name %>
          </div>
          <%= f.submit "Create Workout", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <h4><em>No date selected.</em></h4>
    <% end %>
  </div>
</section>
