<%= render "shared/timer" %>

<% @exercises.each do |exercise| %>
  <div class="exercise">
    <h3><%= exercise.exercise_type.name %></h3>

    <% if exercise.exercise_sets.any? %>
      <ul>
        <% exercise.exercise_sets.order(:position).each do |set| %>
          <li>
            <ul class="set-container">
              <li>
                <%= link_to 'Edit', edit_workout_exercise_exercise_set_path(workout_id: @workout, exercise_id: exercise), class: "btn btn-sm" %>
              </li>
              <li><%= set.position %></li>
              <li><%= set.display_value %></li>
              <li>
                <% if set.weight.present? %> 
                  <%= set.weight %> kg 
                <% else %>
                  0.0 kg
                <% end %>
              </li>
              <li>
                <%= check_box_tag "completed", set.id, set.completed, class: "complete-checkbox", data: { controller: "set-complete", set_complete_target: "checkbox", action: "set-complete#toggle", set_id: set.id } %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p><em>No sets recorded yet.</em></p>
    <% end %>

    <%= link_to 'Add Set', new_workout_exercise_exercise_set_path(workout_id: @workout, exercise_id: exercise), class: "btn btn-sm" %>
  </div>
<% end %>

<%= link_to "Back", workouts_path %>
