<%= render "shared/timer" %>

<div>
  <h3><%= @workout.name %></h3>

  <% if @workout.exercises.any? %>
    <% @workout.exercises.each do |exercise| %>
      <div>
        <h5><%= exercise.exercise_type.name %></h5>
        <ul>
          <li>Sets: <%= exercise.sets %></li>
          <li>Weight: <%= exercise.weight %> lbs</li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <br />
    <em>Workout log empty</em>
  <% end %>
</div>

<%= link_to "Back", workouts_path %>
