<section id="macro-container">
  <div id="macro-calendar">
    <div>
      <label for="macro-date">Select a date:</label> 
      <input
        type="text"
        id="macro-date"
        placeholder="Pick a date"
        data-selected-date="<%= params[:logged_date] %>"
        data-url-param="logged_date"
        style="display: none;"
      />
    </div>
  </div>
 
  <div id="macro-section" style="margin-top: 2rem;">
   <% if @logged_date %>
      <h3><%= @logged_date.strftime("%B %d, %Y") %></h3>
      <br>

      <% if @target_macro %>
        <h4><%= link_to "Target Macros", edit_macro_path(id: @target_macro) %></h4> 
        <ul>
          <li>Calories: <%= @target_macro.calories %> kcal</li>
          <li>Protein: <%= @target_macro.protein %>g</li>
          <li>Carbs: <%= @target_macro.carbohydrates %>g</li>
          <li>Fats: <%= @target_macro.fats %>g</li>
        </ul>
      <% else %>
        <p>No target set yet. <%= link_to "Set Target", new_macro_path(logged_date: @logged_date) %></p>
      <% end %>

    <div class="meal-buttons">
      <% ["breakfast", "lunch", "dinner", "snacks"].each do |meal_type| %>
        <%= link_to "#{meal_type.capitalize}", meal_view_macros_path(meal: meal_type, logged_date: @logged_date, user_id: current_user.id), class: "btn btn-outline-primary m-2" %>
      <% end %> <br> <br>

      <h6>Total for this day:</h6>
      <ul>
        <li>Calories: <%= @totals[:calories] %></li>
        <li>Protein: <%= @totals[:protein] %>g</li>
        <li>Carbs: <%= @totals[:carbohydrates] %>g</li>
        <li>Fats: <%= @totals[:fats] %>g</li>
      </ul>
      <% if @target_macro %>
      
      <h6>Summary vs Target</h6>
      <ul>
        <% def percent_of(target, actual) %>
          <% return 0 if target.to_f <= 0 %>
          <%= ((actual.to_f / target.to_f) * 100).round %>
        <% end %>
        
        <li>Calories: <%= @totals[:calories] %> / <%= @target_macro.calories %> (<%= @target_macro.calories.to_f.zero? ? 0 : (@totals[:calories].to_f / @target_macro.calories * 100).round %>%)</li>
        <li>Protein: <%= @totals[:protein] %> / <%= @target_macro.protein %>g (<%= @target_macro.protein.to_f.zero? ? 0 : (@totals[:protein].to_f / @target_macro.protein * 100).round %>%)</li>
        <li>Carbs: <%= @totals[:carbohydrates] %> / <%= @target_macro.carbohydrates %>g (<%= @target_macro.carbohydrates.to_f.zero? ? 0 : (@totals[:carbohydrates].to_f / @target_macro.carbohydrates * 100).round %>%)</li>
        <li>Fats: <%= @totals[:fats] %> / <%= @target_macro.fats %>g (<%= @target_macro.fats.to_f.zero? ? 0 : (@totals[:fats].to_f / @target_macro.fats * 100).round %>%)</li>

        </ul>
      <% end %>

      <%= link_to "Search Food", search_macros_path, class: "btn btn-primary mt-3" %>
    <% else %>
      <h4><em>No date selected.</em></h4>
    <% end %>
  </div>
</section>