<h1>Set Your Target Macros</h1>

<%= form_with model: @macro, url: macros_path do |f| %>
<%= f.hidden_field :logged_date, value: @logged_date %>
<%= f.hidden_field :target, value: true %>
 
  <div>
    <%= f.label :calories %>
    <%= f.number_field :calories, step: 1 %>
  </div>
  <div>
    <%= f.label :protein %> (g)
    <%= f.number_field :protein, step: 0.1 %>
  </div>
  <div>
    <%= f.label :carbohydrates %> (g)
    <%= f.number_field :carbohydrates, step: 0.1 %>
  </div>
  <div>
    <%= f.label :fats %> (g)
    <%= f.number_field :fats, step: 0.1 %>
  </div>
  <%= f.submit "Save Target" %>
<% end %>

