<%= form_with(model: [@workout, @exercise]) do |f| %>
  <div>
    <%= f.label :exercise_type_id, "Choose Exercise Type" %>
    <%= f.collection_select :exercise_type_id, ExerciseType.all, :id, :name, prompt: "Select one" %>
  </div>

  <div id="new-exercise-type-form" style="display: none;">
    <h4>Create a New Exercise Type</h4>
    <%= form_with url: exercise_types_path, method: :post, data: { turbo_frame: "_top" }, local: true do |et_form| %>
      <div>
        <%= et_form.label :name, "Name" %>
        <%= et_form.text_field :name %>
      </div>
      <div>
        <%= et_form.label :category %>
        <%= et_form.select :category, ExerciseType.categories.keys.map { |c| [c.humanize, c] } %>
      </div>
      <%= et_form.submit "Create Type" %>
    <% end %>
  </div>

  <div>
    <button type="button" onclick="document.getElementById('new-exercise-type-form').style.display = 'block'">
      Create a new exercise type
    </button>
  </div>

  <%= f.submit "Add Exercise" %>
<% end %>
